<!DOCTYPE html>
<html>
<head>
  <title><%= title || "Referee Portal" %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="bg-light text-dark py-4">
  <% include partials/navbar %>
  <main>
    <%- body %>
  </main>
</body>
</html>